*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    
}


body{
    background-color: hsla(297, 60%, 69%, 0.3);
    /* background-color: hsla(341, 64%, 37%, 0.2); */
    /* height:100vh; not using*/
    color:black;
    font-size: medium;
    width: 100%; 
    
}

header{
    margin-bottom: 20px;
    display: flow-root;
}

@font-face {
    font-family: type2;
    src: url('../fonts/type2.ttf');   
}

h1{
    font-family:type2;
    font-size: 2em;
    text-align: center;
    margin: 10px 0;
    text-shadow: 1px 1px 3px gold;

}

*::selection{
    background-color:grey;
    color: #fff;
}

/*same from main css*/
/**********************************************/
/******************HEADER PART*************************/
/**********************************************/
header>ul{
    float:right;
    list-style-type: none; 
    margin:10px 0px; 
}

header>ul li{
    display: inline-block; 
    margin-right: 1em;
    border-right:1px dashed #fff ;
    border-left:1px dashed #fff;
}

header>ul li a{
    font-size: 1em;
    color:#fff;
    text-decoration: none;
    padding:0.3em 1em;/* top-bottom  left-right*/  /*1em =1*16px(medium "font-size:" of previous block)*/
    transition: 0.5s ease;
    text-shadow: 1px 1px 2px grey;
}
header>ul li a:hover{
    /* rgb(197, 191, 191); */
    background-color: #fff ;
    color: #000;
    border-radius: 15px;
    box-shadow: 2px 2px 5px black;
    text-shadow: none;


} 

header>ul li a:hover>i{
    color:#000;
}


header>ul>li:hover,header>ul li.active{
    border-color: transparent;
    
}

header>ul li.active>a>i{
   color:black;
}
li.active a{
    background-color: #fff ;
    color: #000;
    border-radius: 15px;
    box-shadow: 2px 2px 5px black;
    text-shadow: none;
}

i{
    color:#fff;
    font-size: 1em;

}

i::before{
    letter-spacing: 0.5em;
}
/**********************************************/
/****************FOOTER**********************/
/**********************************************/
footer{
    border-top: 1px solid hsl(0, 100%, 25%);
    border-bottom: 1px solid hsl(0, 100%, 25%);
    border-radius: 20px;
    position: relative;
    background-color: hsla(259, 79%, 67%, 0.2);
}

footer>ul,footer>address{
    width: 95%;
    padding: 0.5em;
    /* border: 1px dashed blue; */
    margin: 0.5em auto;
}

address>ul{
    width: 100%;
    /* border: 1px dashed green; */
    margin: 1em auto;

}

footer>ul>li{
    list-style: none;
    width: 20%;
    /* padding: 0.5em; */
    /* border: 1px dashed red; */
    display: inline-block;
    text-align: center;

}

footer>ul>li>a:hover{
    color: red;
}

address>ul>li{
    list-style: none;
    width: 16%;
    /* padding:0.5em; */
    /* border: 1px dashed red; */
    margin-left: 1em;
    display: inline-block;
    text-align: center;
}

address>ul>li>p:hover{
    cursor: pointer;
}

footer>p{
    width: 50%;
    /* padding: 0.5em; */
    /* border: 1px dashed blue; */
    /* margin: 0.5em; */
}

footer>ul,address>ul,address+p{
    text-align: center;

}

footer>address+p{
    position: absolute;
    text-align: left;
    width: 30%;
    bottom:2px;
    left: 2px;
}


footer>p:last-child{
    position: absolute;
    text-align: center;
    width: 30%;
    bottom:2px;
    right: 2px;
    border-radius: 10px;
    background-color: plum;
    
}


/****icons****/
address>ul>li>p>i{
    color: black;
    font-size: 1em;
}
address>ul>li>p>i::before{
    letter-spacing: 0.5em;
}

/**********************************************/
/******************CONTENT*********************/
/**********************************************/

.first-aside{
    float:right;
    width:20%;
    padding: 1em;
    border-top: 1px solid hsl(0, 100%, 25%);
    border-bottom: 1px solid hsl(0, 100%, 25%);
    /* border: 1px dashed black; */
    border-radius: 20px;
    margin: 1em 1em;
    /* background-color: hsla(297, 60%, 69%, 0.3); */
}
.first-article{
    float: left;
    width: 70%;
    padding:1em;
    border-top: 1px solid hsl(0, 100%, 25%);
    border-bottom: 1px solid hsl(0, 100%, 25%);
    /* border:1px dashed orangered; */
    border-radius: 20px;
    margin: 1em 1em;
    /* background-color: hsla(297, 60%, 69%, 0.3); */
}
.first-article section{
    width: 90%;
    padding: 1em;
    /* border: 1px dashed green; */
    border-radius: 20px;
    background-color: hsla(147, 100%, 30%, 0.1);
    margin: 20px auto;
}
.first-article>section>h2{
    text-align: center;
}

.first-article>section>h2 + img{
    width: 50%;
    margin:2em auto;
}



section>aside{
    float: right;
    width:45%;
    padding: 1em;
    margin:2em auto;
    /* border: 1px dashed yellow; */

}
section>aside>p{
    text-indent: 2em;
}

aside,p,section,article{
    text-overflow: hidden;
    overflow: hidden;
}

/***********main-aside part*********/

.first-aside>section{
    padding: 1em;
    /* border: 1px dashed blue; */
    background-color: hsla(147, 100%, 30%, 0.1);
    border-radius: 20px;
    margin: 10px auto;
}

.first-aside>section>h3{
    text-align: center;
}
h3+ul{
    margin: 1em 2em;
}
h3+ul>li{
    color: #000;
    background-color:hsl(0, 0%, 71%);
    font-size: 1.3em;
    padding: 0.2em;
    list-style:none;
    text-align: center;
    margin: 1em 0;
    border-radius: 20px;

}

h3+ul>li:hover{
    box-shadow: 1px 2px 2px #000;
}


a[href^="#"]{
    text-decoration: none;
    color:#000;
}

/* a[href="#"]{
    text-decoration: none;
    margin-left: 1em;
    color: purple;
} */
a[href="#"]:visited{
    color: blue;
}
a[href="#"]:hover{
    color: green;
}
a[href="#"]:active{
    color: red;
}


figure{
    width: 90%;
    /* border: 1px dotted white; */
    margin: 2em 1em;   
}

figure:last-child{
    margin-bottom: 1em;
}

figure>img{
    width: 100%;
    margin-right: 2em;  
}

figcaption{
    text-align: center;
}
/**********photography***************/

.photography{
    width: 96%;
    padding: 1rem;
    /* border: 1px dashed blueviolet; */
    border-radius: 20px;
    background-image: url(../pictures/camera.jpg);
    background-size: cover;
    margin: 1rem;
    display: flow-root;
  
}

.photography>div>img{
    border-radius: 20px;
    width: 25%;
    float: left;
    margin: 1rem;
} 

.photography>div>p{
    background-color: hsla(259, 79%, 67%, 0.2);
    border-radius: 20px;
    color: #fff;
    width: 60%;
    text-indent: 2rem;
    padding: 1rem;
    margin-top: 1rem;
   
}


/***********table part**********/

table{
    width: 99%;
    background-color: hsla(147, 100%, 30%, 0.1);
    padding: 2em 3em;
    margin: 1em 0.5em;
    border-top: 1px solid hsl(0, 100%, 25%);
    border-bottom: 1px solid hsl(0, 100%, 25%);

    border-radius: 20px;
}
caption{
    font-size: 1.5em;
}

td,th{
    border: 2px groove red;
    text-align: center;
    padding: 0.5em 0em;
    border-radius: 10px;
}
th{
    background-color: hsl(0, 0%, 47%);
    color: white;
}
td{
   background-color: hsl(0, 0%, 71%);
}
td:hover,th:hover{
    box-shadow: inset 1px 1px 3px black;
}

/**hover**/
img:hover{
    box-shadow: 2px 2px 6px black;
    cursor: pointer;
}

/*******************************************/
/*****************VIDEO**********************/
/*******************************************/

.nepal-vid{
    width: 90%;
    padding: 0 1em;
    border-top: 1px solid hsl(0, 100%, 25%);
    border-bottom: 1px solid hsl(0, 100%, 25%);
    margin: 5px auto;
    border-radius: 20px;
    background-color: hsla(147, 100%, 30%, 0.1);
}
.nepal-vid>h2,.my-vid>h2,.songs>h2{
    width: 50%;
    /* padding: 1em; */
    color:maroon;
    border-left: 2px solid rgb(229, 88, 255);
    border-right: 2px solid rgb(229, 88, 255);
    border-radius: 20px;
    margin: 10px auto;
    text-align: center;
}

.my-vid>h2>i,.nepal-vid>h2>i,.songs>h2>i{
    color: maroon;
}
.nepal-vid>iframe{
    width: 70%;
    padding: 0.5em;
    /* border: 1px dashed blue; */
    margin: 1em auto;
    margin-left: 200px;
    /* text-align: center; */
    border-radius: 50px;
}

.songs{
    width: 90%;
    padding: 1em;
    border-top: 1px solid hsl(0, 100%, 25%);
    border-bottom: 1px solid hsl(0, 100%, 25%);
    margin: 1em auto;
    background-color: hsla(147, 100%, 30%, 0.1);
    border-radius: 20px;
}


.songs>ul{
    width: 80%;
    padding: 1em;
    /* border: 1px dashed orangered; */
    margin: 1em auto;
    border-radius: 3em;
    background-color: hsla(0, 100%, 88%, 0.2);

}

.songs>ul>li{
    width: 20%;
    display: inline-block;
    padding: 0.5em 1em;
    /* border: 1px dashed brown; */
    text-align: center;
    list-style: none;
    margin: 1em auto;
    background-color: hsl(0, 0%, 71%);
    border-radius: 3em 0;
}

.songs>ul>li:hover{
    box-shadow: inset 1px 2px 2px #000;
    cursor: pointer;
}

.songs>ul>li>a{
    color: black;
    text-decoration: none;
}

.my-vid{
    width: 90%;
    padding: 1em;
    border-top: 1px solid hsl(0, 100%, 25%);
    border-bottom: 1px solid hsl(0, 100%, 25%);
    margin: 1em auto; 
    border-radius: 20px;
    background-color: hsla(147, 100%, 30%, 0.1);
}
.my-vid>div{
    width: 20%;
    padding: 0.5em;
    margin-left: 2.5em;
    text-align: center;
    display:inline-block;
}
.my-vid>div>video{
    width: 100%;
    height: 60%;
    border-radius: 20px;


}

video:hover,iframe:hover{
    box-shadow: 3px 3px 8px black;
    cursor: pointer;
}

/*******************************************/
/*****************Photo gallary****************/
/*******************************************/


.landscape,.face,.my-pic{
    width:95%;
    padding: 1em;
    /* border: 1px dashed green ; */
    margin: 1em auto;
    border-top: 1px solid hsl(0, 100%, 25%);
    border-bottom: 1px solid hsl(0, 100%, 25%);
    background-color:  hsla(147, 100%, 30%, 0.1);
    border-radius: 20px;
}
/********animation*************/

@keyframes animation1{
    50%{
        transform: rotate(180deg);
    }
}

h1>i{
    color: black;
    animation: animation1 3s infinite;
    cursor: pointer;
}
/**************************************/

.face>h2,.my-pic>h2{
    width: 50%;
    padding: 1em;
    /* border: 1px dashed blue; */
    border-bottom: 3px groove grey;
    margin: 1em auto;
    text-align: center;
    font-size: 2rem;

}


.landscape>div,.face>div,.my-pic>div{
    width: 300px;
    height: 200px;
    padding: 0.7em;
    /* border: 1px dashed red; */
    margin: 1em auto;
    margin-left: 10px;
    display: inline-block;
    border-radius: 20px;
    box-shadow: inset 1px 1px 2px black;
    background-color: rgb(180, 180, 180);

}

.part>div>img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0.7;
}


.part>div>img:hover{
    opacity: 1;
}
.face>div:nth-of-type(1),.face>div:nth-of-type(2),.face>div:nth-of-type(3),.face>div:nth-of-type(4){
    width: 300px;
    height: 400px;
}


/*******end :) *******/
 